DATABASE_URL="postgresql://postgres:postgres@localhost:5432/the_isle_asia"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-openssl-rand-base64-32"
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
NEXT_PUBLIC_SITE_URL="https://the-isle.vercel.app"
NEXT_PUBLIC_DISCORD_INVITE="https://discord.gg/vmn3YjCZSE"
NEXT_PUBLIC_SERVER_IP="209.102.250.73:9075"
NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="taku-f8db6.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="taku-f8db6"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="taku-f8db6.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=""
NEXT_PUBLIC_FIREBASE_APP_ID=""
FIREBASE_PROJECT_ID="taku-f8db6"
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""
FIREBASE_ADMIN_EMAILS="owner@example.com"
SERVER_QUERY_ENABLED="true"
SERVER_QUERY_PORT=""
SERVER_QUERY_MAX_AGE_SECONDS="180"
