DATABASE_URL="postgresql://postgres:postgres@localhost:5432/the_isle_asia"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-openssl-rand-base64-32"
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
NEXT_PUBLIC_SITE_URL="https://the-isle-asia.vercel.app"
NEXT_PUBLIC_DISCORD_INVITE="https://discord.gg/the-isle-asia"
NEXT_PUBLIC_SERVER_IP="theisle-asia.example.com:7777"
